@model IdentityServer4.EntityFramework.Entities.Client
@{
    ViewData["Title"] = "Create";
}
<div class="ui grid container" ng-controller="AppController">
    <h2>Create Client</h2>
    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui grid container">
            <div class="two column row">
                <div class="column">
                    <div class="field">
                        <label asp-for="AbsoluteRefreshTokenLifetime"></label>
                        <input asp-for="AbsoluteRefreshTokenLifetime" />
                        <span asp-validation-for="AbsoluteRefreshTokenLifetime"></span>
                    </div>
                    <div class="field">
                        <label asp-for="AccessTokenLifetime"></label>
                        <input asp-for="AccessTokenLifetime" />
                        <span asp-validation-for="AccessTokenLifetime"></span>
                    </div>
                    <div class="field">
                        <label asp-for="AccessTokenType"></label>
                        <select asp-for="AccessTokenType" asp-items="@Html.GetEnumSelectList(typeof(IdentityServer4.Models.AccessTokenType))"></select>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="AllowAccessTokensViaBrowser" />
                            <label asp-for="AllowAccessTokensViaBrowser"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="AllowOfflineAccess" />
                            <label asp-for="AllowOfflineAccess"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="AllowPlainTextPkce" />
                            <label asp-for="AllowPlainTextPkce"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="AllowRememberConsent" />
                            <label asp-for="AllowRememberConsent"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="AlwaysIncludeUserClaimsInIdToken" />
                            <label asp-for="AlwaysIncludeUserClaimsInIdToken"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="AlwaysSendClientClaims" />
                            <label asp-for="AlwaysSendClientClaims"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="AuthorizationCodeLifetime"></label>
                        <div class="col-md-10">
                            <input asp-for="AuthorizationCodeLifetime" />
                            <span asp-validation-for="AuthorizationCodeLifetime"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="ClientId"></label>
                        <div class="col-md-10">
                            <input asp-for="ClientId" required />
                            <span asp-validation-for="ClientId"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="ClientName"></label>
                        <div class="col-md-10">
                            <input asp-for="ClientName" />
                            <span asp-validation-for="ClientName"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="ClientUri"></label>
                        <div class="col-md-10">
                            <input asp-for="ClientUri" />
                            <span asp-validation-for="ClientUri"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="EnableLocalLogin" />
                            <label asp-for="EnableLocalLogin"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="Enabled" />
                            <label asp-for="Enabled"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="IdentityTokenLifetime"></label>
                        <div class="col-md-10">
                            <input asp-for="IdentityTokenLifetime" />
                            <span asp-validation-for="IdentityTokenLifetime"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="IncludeJwtId" />
                            <label asp-for="IncludeJwtId"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="LogoUri"></label>
                        <div class="col-md-10">
                            <input asp-for="LogoUri" />
                            <span asp-validation-for="LogoUri"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="FrontChannelLogoutSessionRequired" />
                            <label asp-for="FrontChannelLogoutSessionRequired"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="FrontChannelLogoutUri"></label>
                        <div class="col-md-10">
                            <input asp-for="FrontChannelLogoutUri" />
                            <span asp-validation-for="FrontChannelLogoutUri"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="BackChannelLogoutSessionRequired" />
                            <label asp-for="BackChannelLogoutSessionRequired"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="BackChannelLogoutUri"></label>
                        <div class="col-md-10">
                            <input asp-for="BackChannelLogoutUri" />
                            <span asp-validation-for="BackChannelLogoutUri"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="ClientClaimsPrefix" />
                            <label asp-for="ClientClaimsPrefix"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="ProtocolType"></label>
                        <select asp-for="ProtocolType">
                            <option value="@IdentityServer4.IdentityServerConstants.ProtocolTypes.OpenIdConnect">@IdentityServer4.IdentityServerConstants.ProtocolTypes.OpenIdConnect</option>
                            <option value="@IdentityServer4.IdentityServerConstants.ProtocolTypes.Saml2p">@IdentityServer4.IdentityServerConstants.ProtocolTypes.Saml2p</option>
                            <option value="@IdentityServer4.IdentityServerConstants.ProtocolTypes.WsFederation">@IdentityServer4.IdentityServerConstants.ProtocolTypes.WsFederation</option>
                        </select>
                    </div>
                    <div class="field">
                        <label asp-for="RefreshTokenExpiration"></label>
                        <select asp-for="RefreshTokenExpiration" asp-items=" @Html.GetEnumSelectList(typeof(IdentityServer4.Models.TokenExpiration))"></select>
                    </div>
                    <div class="field">
                        <label asp-for="RefreshTokenUsage"></label>
                        <select asp-for="RefreshTokenUsage" asp-items=" @Html.GetEnumSelectList(typeof(IdentityServer4.Models.TokenUsage))"></select>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="RequireClientSecret" />
                            <label asp-for="RequireClientSecret"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="RequireConsent" />
                            <label asp-for="RequireConsent"></label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="RequirePkce" />
                            <label asp-for="RequirePkce"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="SlidingRefreshTokenLifetime"></label>
                        <div class="col-md-10">
                            <input asp-for="SlidingRefreshTokenLifetime" />
                            <span asp-validation-for="SlidingRefreshTokenLifetime"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="UpdateAccessTokenClaimsOnRefresh" />
                            <label asp-for="UpdateAccessTokenClaimsOnRefresh"></label>
                        </div>
                    </div>
                    <div class="field">
                        <label>AllowedGrantTypes</label>
                        <select name="AllowedGrantTypes">
                            <option ng-selected="x.v==granttypesCurrent" ng-repeat="x in allowedGrantTypes" value="{{x.v}}">{{x.k}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="positive ui button" />
                            <a asp-action="Index" class="ui button">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <input type="hidden" name="Claims" value="{{claims}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>Claim类型</th>
                                <th>Claim值</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in claims">
                                <td>
                                    <input type="text" ng-model="x.type" />
                                </td>
                                <td>
                                    <input type="text" ng-model="x.value" />
                                </td>
                                <td>
                                    <a class="ui tiny button" ng-click="delclaim($index)">
                                        <i class="remove icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="3">
                                    <div class="ui right floated tiny primary labeled icon button" ng-click="addclaim()"><i class="plus icon"></i> 添加 </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                    <input type="hidden" name="ClientSecrets" value="{{secrets}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>Secret</th>
                                <th>到期时间</th>
                                <th>描述</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in secrets">
                                <td>
                                    <input type="text" ng-model="x.value" />
                                </td>
                                <td>
                                    <input type="date" ng-model="x.expiration" />
                                </td>
                                <td>
                                    <input type="text" ng-model="x.description" />
                                </td>
                                <td>
                                    <a class="ui tiny button" ng-click="delsecret($index)">
                                        <i class="remove icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="4">
                                    <div class="ui right floated tiny primary labeled icon button" ng-click="addsecret()"><i class="plus icon"></i> 添加 </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                    <input type="hidden" name="AllowedScopes" value="{{scopes}}" />
                    <div class="ui segment">
                        <h4>Scope <span class="ui right floated mini primary basic icon button" ng-click="addscope()"><i class="plus icon"></i> 添加 </span></h4>
                        <div class="ui horizontal divider">
                            {{scopes.length}}
                        </div>
                        <div class="ui icon input label" ng-repeat="x in scopes" style="margin:5px">
                            <input type="text" ng-model="x.scope" />
                            <i class="inverted circular delete link icon" ng-click="delscope($index)"></i>
                        </div>
                    </div>

                    <input type="hidden" name="AllowedCorsOrigins" value="{{corsOrigins}}" />
                    <div class="ui segment">
                        <h4>CorsOrigins <span class="ui right floated mini primary basic icon button" ng-click="addcorsOrigin()"><i class="plus icon"></i> 添加 </span></h4>
                        <div class="ui horizontal divider">
                            {{corsOrigins.length}}
                        </div>
                        <div class="ui icon input label" ng-repeat="x in corsOrigins" style="margin:5px">
                            <input type="text" ng-model="x.origin" />
                            <i class="inverted circular delete link icon" ng-click="delcorsOrigin($index)"></i>
                        </div>
                    </div>

                    <input type="hidden" name="RedirectUris" value="{{redirectUris}}" />
                    <div class="ui segment">
                        <h4>RedirectUris <span class="ui right floated mini primary basic icon button" ng-click="addredirectUri()"><i class="plus icon"></i> 添加 </span></h4>
                        <div class="ui horizontal divider">
                            {{redirectUris.length}}
                        </div>
                        <div class="ui icon input label" ng-repeat="x in redirectUris" style="margin:5px">
                            <input type="text" ng-model="x.redirectUri" />
                            <i class="inverted circular delete link icon" ng-click="delredirectUri($index)"></i>
                        </div>
                    </div>

                    <input type="hidden" name="PostLogoutRedirectUris" value="{{postLogoutRedirectUris}}" />
                    <div class="ui segment">
                        <h4>PostLogoutRedirectUris <span class="ui right floated mini primary basic icon button" ng-click="addpostLogoutRedirectUri()"><i class="plus icon"></i> 添加 </span></h4>
                        <div class="ui horizontal divider">
                            {{postLogoutRedirectUris.length}}
                        </div>
                        <div class="ui icon input label" ng-repeat="x in postLogoutRedirectUris" style="margin:5px">
                            <input type="text" ng-model="x.postLogoutRedirectUri" />
                            <i class="inverted circular delete link icon" ng-click="delpostLogoutRedirectUri($index)"></i>
                        </div>
                    </div>

                    <input type="hidden" name="IdentityProviderRestrictions" value="{{identityProviderRestrictions}}" />
                    <div class="ui segment">
                        <h4>IdentityProviderRestrictions <span class="ui right floated mini primary basic icon button" ng-click="addidentityProviderRestriction()"><i class="plus icon"></i> 添加 </span></h4>
                        <div class="ui horizontal divider">
                            {{identityProviderRestrictions.length}}
                        </div>
                        <div class="ui icon input label" ng-repeat="x in identityProviderRestrictions" style="margin:5px">
                            <input type="text" ng-model="x.provider" />
                            <i class="inverted circular delete link icon" ng-click="delidentityProviderRestriction($index)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts{
    <script type="text/javascript">
        app.controller('AppController', function ($scope) {
            $scope.granttypesCurrent = '';
            $scope.allowedGrantTypes = [
                { k: 'Implicit', v: 'implicit' },
                { k: 'ImplicitAndClientCredentials', v: 'implicit&client_credentials' },
                { k: 'Code', v: 'authorization_code' },
                { k: 'CodeAndClientCredentials', v: 'authorization_code&client_credentials' },
                { k: 'Hybrid', v: 'hybrid' },
                { k: 'HybridAndClientCredentials', v: 'hybrid&client_credentials' },
                { k: 'ClientCredentials', v: 'client_credentials' },
                { k: 'ResourceOwnerPassword', v: 'password' },
                { k: 'ResourceOwnerPasswordAndClientCredentials', v: 'password&client_credentials' }
            ];
            $scope.grantTypes =[];
            $scope.claims = [];
            $scope.scopes = [];
            $scope.secrets = [];
            $scope.corsOrigins =[];
            $scope.redirectUris = [];
            $scope.postLogoutRedirectUris = [];
            $scope.identityProviderRestrictions = [];

            $scope.delclaim = function (ind) {
                $scope.claims.splice(ind, 1);
            }
            $scope.addclaim = function () {
                $scope.claims.push({ Type: '', Value: '' });
            }

            $scope.delsecret = function (ind) {
                $scope.secrets.splice(ind, 1);
            }
            $scope.addsecret = function () {
                $scope.secrets.push({ type: '', value: '', description: '' });
            }

            $scope.delscope = function (ind) {
                $scope.scopes.splice(ind, 1);
            }
            $scope.addscope = function () {
                $scope.scopes.push({ scope: '' });
            }

            $scope.delcorsOrigin = function (ind) {
                $scope.corsOrigins.splice(ind, 1);
            }
            $scope.addcorsOrigin = function () {
                $scope.corsOrigins.push({ origin: '' });
            }

            $scope.delredirectUri = function (ind) {
                $scope.redirectUris.splice(ind, 1);
            }
            $scope.addredirectUri = function () {
                $scope.redirectUris.push({ redirectUri: '' });
            }

            $scope.delpostLogoutRedirectUri = function (ind) {
                $scope.postLogoutRedirectUris.splice(ind, 1);
            }
            $scope.addpostLogoutRedirectUri = function () {
                $scope.postLogoutRedirectUris.push({ postLogoutRedirectUri: '' });
            }

            $scope.delidentityProviderRestriction = function (ind) {
                $scope.identityProviderRestrictions.splice(ind, 1);
            }
            $scope.addidentityProviderRestriction = function () {
                $scope.identityProviderRestrictions.push({ provider: '' });
            }
        });
    </script>
}