@model Campaign.Core.Identity.Models.RoleModels.GetResponse
@{
    ViewData["Title"] = "角色管理";
}
<div class="ui grid container">
    <div class="row">
        <div class="column">
            <div class="ui breadcrumb">
                <a href="/Manage" class="section">首页</a>
                <div class="divider"> / </div>
                <a asp-controller="appusers" class="section">用户管理</a>
                <div class="divider"> / </div>
                <div class="active section">角色管理</div>
            </div>
        </div>
    </div>

            <div class="row">
                <div class="two wide column">
                    <a class="ui button" asp-action="Create">创建角色</a>
                </div>
                <div class="two wide column">
                </div>
                <div class="eight wide column">

                </div>
                <div class="two wide column">
                    <a class="ui button" href=""><i class="search icon"></i> 查询</a>
                </div>
                <div class="two wide column">
                    <div class="ui buttons">
                        <button class="ui button"><i class="left chevron icon"></i></button>
                        <div class="or"></div>
                        <button class="ui button"><i class="right chevron icon"></i></button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <table class="ui form selectable sortable compact celled striped definition table">
                        <thead>
                            <tr>
                                <th>标识</th>
                                <th>名称</th>
                                <th>别名</th>
                                <th>声明</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var r in Model.roles)
                            {
                                <tr>
                                    <td>@r.Id</td>
                                    <td>@r.Name</td>
                                    <td>@r.NormalizedName</td>
                                    <td>@string.Join(",", r.Claims.Select(x => x.ClaimType + ":" + x.ClaimValue))</td>
                                    <td class="right aligned">
                                        <a asp-action="Edit" asp-route-id="@r.Id" class="tiny ui basic button">编辑</a>
                                        <a asp-action="Details" asp-route-id="@r.Id" class="tiny ui basic button">详情</a>
                                        <a asp-action="Delete" asp-route-id="@r.Id" class="tiny ui basic button">删除</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
