@model ExternalLoginConfirmationViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Register";
}
<style>
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>
<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All"></div>
                <div class="text-center mb-4">
                    <h5 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h5>
                    <p>Associate your @ViewData["LoginProvider"] account</p>
                    <p class="text-info">
                        You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                        Please enter an email address for this site below and click the Register button to finish
                        logging in.
                    </p>
                </div>
                <div class="form-label-group">
                    <input type="email" name="Email" id="Email" class="form-control" placeholder="@Localizer["邮箱"]" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["注册"]</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>