@model LoginViewModel
@inject SignInManager<IdentityServer4.MicroService.Data.AppUser> SignInManager
@inject IViewLocalizer Localizer
    <style>
        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }
    </style>
    <div class="container mb-5 py-5">
        <div class="row justify-content-end py-2">
            <div class="col"></div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-signin">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="text-center mb-4">
                                <h5 class="h3 mb-3 font-weight-normal">@Localizer["账号登录"]</h5>
                            </div>
                            <div class="form-label-group">
                                <input type="text" name="Username" id="Username" class="form-control" placeholder="@Localizer["邮箱/账号/手机号"]" />
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="Password" id="Password" class="form-control" placeholder="@Localizer["密码"]" />
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="RememberMe" />
                                    <label>@Localizer["保存登录信息"]</label>
                                    <a asp-action="ForgotPassword" style="float:right">@Localizer["忘记密码"]?</a>
                                </div>
                            </div>

                            <button class="btn btn-lg btn-success btn-block" type="submit">@Localizer["登录"]</button>

                        </form>

                        @{
                            var loginProviders = SignInManager.GetExternalAuthenticationSchemesAsync().Result.ToList();
                            if (loginProviders.Count > 0)
                            {
                                <hr />
                                <p class="text-center">@Localizer["其他方式登录"]</p>
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="loginProviders">

                                    @foreach (var provider in loginProviders)
                                    {
                                        var classMapping = provider.DisplayName.ToLower();
                                        var iconMapping = classMapping;

                                        <button type="submit" class="btn btn-outline-primary btn-sm" name="provider" value="@provider.DisplayName" style="margin:5px">
                                            @provider.DisplayName
                                        </button>
                                    }
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
           
        </div>
    </div>