@model RegisterViewModel
@inject IViewLocalizer Localizer
<style>
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>

<div class="container mb-5 py-5">
    <div class="row justify-content-end py-3">
        <div class="col"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="text-center mb-4">
                            <h5 class="h3 mb-3 font-weight-normal">@Localizer["注册账号"]</h5>
                        </div>

                        <div class="form-label-group">
                            <input type="email" name="Email" id="Email" class="form-control" placeholder="@Localizer["邮箱"]" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="Password" id="Password" class="form-control" placeholder="@Localizer["设置密码（大小写字母+数字+符号，例如：123456aA!）"]" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="@Localizer["确认密码"]" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-label-group" style="display:none">
                            <input type="number" name="ParentUserID" id="ParentUserID" class="form-control" value="@ViewData["Referee"]" placeholder="@Localizer["推荐人ID"]" />
                            <span asp-validation-for="ParentUserID" class="text-danger"></span>
                        </div>

                        <button class="btn btn-lg btn-success
                        btn-block" type="submit">
                            @Localizer["注册"]
                        </button>
                    </form>
                </div>
            </div>
        </div>
            </div>
        </div>
