@model VerifyPhoneNumberViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Verify Phone Number";
}

<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="text-center mb-4">
                <h5 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h5>
                <p>Add a phone number.</p>
            </div>
            <form asp-controller="Manage" asp-action="VerifyPhoneNumber"
                  asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <input asp-for="PhoneNumber" type="hidden" />
                <h5>@ViewData["Status"]</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-label-group">
                    <input type="text" name="Code" id="Code" class="form-control" placeholder="@Localizer["Code"]" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["提交"]</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>