@model Campaign.Core.Identity.Models.IdentityResourceModels.GetResponse

@{
    ViewData["Title"] = "Identity Resources管理";
}

<div class="ui grid container">
    <div class="row">
        <div class="column">
            <div class="ui breadcrumb">
                <a href="/Manage" class="section">首页</a>
                <div class="divider"> / </div>
                <a asp-controller="identityresource" class="section">身份资源</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="two wide column">
            <a class="ui button" asp-action="Create">添加资源</a>
        </div>
        <div class="two wide column">
        </div>
        <div class="eight wide column">
        </div>
        <div class="two wide column">
            <a class="ui button" href=""><i class="search icon"></i> 查询</a>
        </div>
        <div class="two wide column">
            <div class="ui buttons">
                <button class="ui button"><i class="left chevron icon"></i></button>
                <div class="or"></div>
                <button class="ui button"><i class="right chevron icon"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <table class="ui fixed table">
                <thead>
                    <tr>
                        <th width="50px">标识</th>
                        <th width="200px">Scope</th>
                        <th>Claims</th>
                        <th width="240px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.resources)
                    {
                        <tr>
                            <td>@r.Id</td>
                            <td>
                                <h4 class="ui image header">
                                    <div class="content">
                                        @r.Name
                                        <div class="sub header">
                                            @r.DisplayName
                                        </div>
                                    </div>
                                </h4></td>
                            <td>@string.Join(",", r.UserClaims.Select(x => x.Type))</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@r.Id" class="tiny ui basic button">编辑</a>
                                <a asp-action="Details" asp-route-id="@r.Id" class="tiny ui basic button">详情</a>
                                <a asp-action="Delete" asp-route-id="@r.Id" class="tiny ui basic button">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>