@{
    TenantPrivateModel tenant = null;
    var keywords = string.Empty;
    var description = string.Empty;
    var siteFavicon = string.Empty;
    var siteName = string.Empty;
    var siteTracking = string.Empty;
    if (ViewBag.pvtTenant == null)
    {
        tenant = ViewBag.pvtTenant = new TenantPrivateModel()
        {
            Id = 1,
            Name = ""
        };
    }
    else
    {
        tenant = ViewBag.pvtTenant;
        keywords = tenant.Properties.GetValueOrDefault(TenantDefaultProperty.Keywords);
        description = tenant.Properties.GetValueOrDefault(TenantDefaultProperty.Summary);
        siteFavicon = tenant.Properties.GetValueOrDefault("Favicon");
        siteName = tenant.Name;
        siteTracking = tenant.Properties.GetValueOrDefault(TenantDefaultProperty.Tracking);
    }
}
@inject IViewLocalizer l
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@Html.Raw(keywords)" />
    <meta name="description" content="@Html.Raw(description)" />
    <link rel="shortcut icon" href="@siteFavicon" type="image/x-icon" />
    <link rel="bookmark" href="@siteFavicon" type="image/x-icon" />
    <title>@Html.Raw(siteName) - @l["授权中心"]</title>
    <link href="/dist/vendor.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="/dist/app.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="@siteFavicon" width="32px" />
                    @Html.Raw(siteName)
                </a>
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" style="min-height:500px">
        @RenderBody()
    </main>

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">@l["返回顶部"]</a></p>
        <p><a href="/Tool">@l["获取access_token"]</a></p>
    </footer>
    <script src="/dist/vendor.min.js" asp-append-version="true"></script>
    <script src="/dist/app.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @Html.Raw(siteTracking)
</body>
</html>
