@{
    TenantPrivateModel tenant = null;

    var keywords = string.Empty;
    var description = string.Empty;
    var siteFavicon = string.Empty;
    var siteName = string.Empty;
    var siteTracking = string.Empty;

    if (ViewBag.pvtTenant == null)
    {
        tenant = ViewBag.pvtTenant = new TenantPrivateModel()
        {
            Id = 1,
            Name = ""
        };
    }
    else
    {
        tenant = ViewBag.pvtTenant;


        keywords = tenant.Properties.GetValueOrDefault(TenantDefaultProperty.Keywords);
        description = tenant.Properties.GetValueOrDefault(TenantDefaultProperty.Summary);
        siteFavicon = tenant.Properties.GetValueOrDefault("Favicon");
        siteName = tenant.Name;
        siteTracking = tenant.Properties.GetValueOrDefault(TenantDefaultProperty.Tracking);
    }
}
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@Html.Raw(keywords)" />
    <meta name="description" content="@Html.Raw(description)" />
    <link rel="shortcut icon" href="@siteFavicon" type="image/x-icon" />
    <link rel="bookmark" href="@siteFavicon" type="image/x-icon" />
    <title>@Html.Raw(siteName) - @Localizer["授权中心"]</title>
    <link href="/dist/vendor.min.css" rel="stylesheet" />
    <link href="/dist/app.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="@siteFavicon" width="32px" />
                    @Html.Raw(siteName)
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="/dist/vendor.min.js"></script>
    @*<script src="/dist/app.js"></script>*@
    @RenderSection("Scripts", required: false)
    @Html.Raw(siteTracking)
</body>
</html>
