@model Campaign.Core.Identity.AppUser
@{
    ViewData["Title"] = "Edit";
}
<div class="ui grid container" ng-controller="AppController">
    <h4>Edit AppUser</h4>
    <form asp-action="Edit" class="ui form">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui grid container">
            <div class="two column row">
                <div class="column">
                    @*<div class="field">
                        <label asp-for="ParentUserID" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ParentUserID" class="form-control" />
                            <span asp-validation-for="ParentUserID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="LineageIDs" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LineageIDs" class="form-control" />
                            <span asp-validation-for="LineageIDs" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="field">
                        <label asp-for="Avatar" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Avatar" class="form-control" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="UserName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="NormalizedUserName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="NormalizedUserName" class="form-control" />
                            <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="NormalizedEmail" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="NormalizedEmail" class="form-control" />
                            <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="EmailConfirmed" />
                                <label asp-for="EmailConfirmed"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="PasswordHash" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PasswordHash" class="form-control" />
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="SecurityStamp" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="SecurityStamp" class="form-control" />
                            <span asp-validation-for="SecurityStamp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="ConcurrencyStamp" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConcurrencyStamp" class="form-control" />
                            <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="PhoneNumber"></label>
                        <div class="col-md-10">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="PhoneNumberConfirmed" />
                                <label asp-for="PhoneNumberConfirmed"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="TwoFactorEnabled" />
                                <label asp-for="TwoFactorEnabled"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="LockoutEnd"></label>
                        <div class="col-md-10">
                            <input asp-for="LockoutEnd" />
                            <span asp-validation-for="LockoutEnd" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="LockoutEnabled" />
                                <label asp-for="LockoutEnabled"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="AccessFailedCount" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="AccessFailedCount" class="form-control" />
                            <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="inline fields">
                        <label asp-for="Roles" class="col-md-2 control-label"></label>
                        <input type="hidden" name="Roles" value="{{roles}}" />
                        <div class="field" ng-repeat="x in rolelist">
                            <div class="ui checkbox">
                                <input type="checkbox" name="role" ng-checked="rolesCopy.indexOf(x.id)>-1" ng-click="refreshRoles()" value="{{x.id}}" />
                                <label>{{x.name}}</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="positive ui button" />
                            <a asp-action="Index" class="ui button">Back to List</a>
                        </div>
                    </div>

                </div>
                <div class="column">
                    <input type="hidden" name="Claims" value="{{claims}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>Claim类型</th>
                                <th>Claim值</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr ng-repeat="x in claims">
                                    <td>
                                        <input type="text" ng-model="x.claimType" />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="x.claimValue" />
                                    </td>
                                    <td>
                                        <a class="ui tiny button" ng-click="delclaim($index)">
                                            <i class="remove icon"></i>
                                        </a>
                                    </td>
                                </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="3">
                                    <div class="ui right floated tiny primary labeled icon button" ng-click="addclaim()"><i class="plus icon"></i> 添加声明 </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                    <input type="hidden" name="Logins" value="{{logins}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>应用</th>
                                <th>标识</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in logins">
                                <td>
                                    <input type="text" ng-model="x.loginProvider" />
                                </td>
                                <td>
                                    <input type="text" ng-model="x.providerKey" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
</form>
</div>
@section Scripts{
    <script type="text/javascript">
      

        app.controller('AppController', function ($scope) {
            $scope.claims = @Json.Serialize(Model.Claims);
            $scope.logins = @Json.Serialize(Model.Logins);
            $scope.roles = @Json.Serialize(Model.Roles);
            $scope.rolesCopy = @Json.Serialize(Model.Roles.Select(x=>x.RoleId));
            $scope.rolelist = @Json.Serialize(ViewData["roles"]);

            $scope.refreshRoles = function () {
                var v = [];
                $(":checkbox[name='role']:checked").each((ind, ele) => v.push({ userId: @Model.Id,roleId: parseInt($(ele).val()) }));
                $scope.roles = v
            }

        $scope.delclaim = function (ind) {
           $scope.claims.splice(ind, 1);
        }
        $scope.addclaim = function () {
            $scope.claims.push({ claimType:'', claimValue:'' });
        }

    });
</script>
}