@model Campaign.Core.Identity.Models.AppUsersModels.GetResponse
@{
    ViewData["Title"] = "用户管理";
}
<div class="ui grid container">
    <div class="row">
        <div class="column">
            <div class="ui breadcrumb">
                <a href="/Manage" class="section">首页</a>
                <div class="divider"> / </div>
                <div class="active section">用户管理</div>
                <div class="divider"> / </div>
                <a asp-controller="approles" class="section">角色管理</a>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="two wide column">
                <a class="ui button" asp-action="Create">创建用户</a>
            </div>
            <div class="ten wide column">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <div class="ui category search">
                                <div class="ui icon input">
                                    <input class="prompt" type="text" placeholder="用户名 / 邮箱 / 电话">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui multiple selection dropdown">
                                <input name="gender" type="hidden" value="0,1">
                                <i class="dropdown icon"></i>
                                <div class="default text">角色</div>
                                <div class="menu">
                                    @foreach (var v in Model.roles)
                            {
                                <div class="item" data-value="@v.Key">@v.Value</div>
                            }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="two wide column">
                <a class="ui button"><i class="search icon"></i> 查询</a>
            </div>
            <div class="two wide column">
                <div class="ui buttons">
                    <button class="ui button"><i class="left chevron icon"></i></button>
                    <div class="or"></div>
                    <button class="ui button"><i class="right chevron icon"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="ui form selectable sortable compact celled striped definition table">
                    <thead>
                        <tr>
                            <th>标识</th>
                            <th class="sorted ascending">用户</th>
                            <th class="sorted descending">邮箱</th>
                            <th>电话</th>
                            <th>关联账号</th>
                            <th>声明</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.users)
                        {
                            <tr>
                                <td>@r.Id</td>
                                <td>
                                    <h4 class="ui image header">
                                        <img src="@r.Avatar" class="ui mini rounded image" />
                                        <div class="content">
                                            @r.UserName
                                            <div class="sub header">
                                                @string.Join(",", r.Roles.Select(x => Model.roles[x.RoleId]))
                                            </div>
                                        </div>
                                    </h4>
                                </td>
                                <td class="positive">@r.Email</td>
                                <td>@r.PhoneNumber</td>
                                <td>@string.Join(",", r.Logins.Select(x => x.LoginProvider))</td>
                                <td>@string.Join(",", r.Claims.Select(x => x.ClaimType + ":" + x.ClaimValue))</td>
                                <td class="right aligned">
                                    <a asp-action="Edit" asp-route-id="@r.Id" class="tiny ui basic button">编辑</a>
                                    <a asp-action="Details" asp-route-id="@r.Id" class="tiny ui basic button">详情</a>
                                    <a asp-action="Delete" asp-route-id="@r.Id" class="tiny ui basic button">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="eight wide column">
                <div class="ui left floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </div>
            <div class="eight wide column">
            </div>
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $('.ui.dropdown').dropdown();
            })
        </script>
    }
