@model RegisterViewModel
@inject IViewLocalizer Localizer
<style>
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>

<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All"></div>
                <div class="text-center mb-4">
                    <h5 class="h3 mb-3 font-weight-normal">@Localizer["注册账号"]</h5>
                </div>
                <div class="form-label-group">
                    <input type="email" id="Email" class="form-control" placeholder="@Localizer["邮箱"]" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="password" id="Password" class="form-control" placeholder="@Localizer["密码"]" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="password" id="ConfirmPassword" class="form-control" placeholder="@Localizer["确认密码"]" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button class="btn btn-lg btn-success btn-block" type="submit">@Localizer["注册"]</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>