@model ConsentViewModel
@{var TenantContext = OAuthApp.Tenant.TenantValidatorHelper.GetTenantWithProperties(Context);}
<style>
    .list-group-item {
        padding: .5rem 1rem 0rem;
    }
</style>
<div class="page-consent" style="width:600px;margin:auto;">
    <div class="row text-center my-3">
        <div class="col-4">
            @if (Model.ClientLogoUrl != null)
            {
                <div class="client-logo"><img src="@Model.ClientLogoUrl" width="48px"></div>
            }
            <h5 class="mt-2">
                @Model.ClientName
            </h5>
        </div>
        <div class="col-4 text-muted">
            <h1>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path>
                </svg>
            </h1>
            <small>正在请求你的授权</small>
        </div>
        <div class="col-4">
            <div class="client-logo"><img src="@TenantContext.LogoUri" width="48px"></div>
            <h5 class="mt-2">@TenantContext.Name</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <partial name="_ValidationSummary" />
        </div>
    </div>

    <form asp-action="Index">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="row">
            <div class="col">
                @if (Model.IdentityScopes.Any())
                {
                    <div class="form-group" style="font-size: .95rem;">
                        <div class="card">
                            <div class="card-header">
                                <span class="glyphicon glyphicon-user"></span>
                                个人信息
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var scope in Model.IdentityScopes)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.ApiScopes.Any())
                {
                    <div class="form-group" style="font-size: .95rem;">
                        <div class="card">
                            <div class="card-header">
                                <span class="glyphicon glyphicon-tasks"></span>
                                应用程序
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var scope in Model.ApiScopes)
                                {
                                    <partial name="_ScopeListItem" model="scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                <div class="form-group" style="font-size: .95rem;">
                    <div class="card">
                        <div class="card-header">
                            <span class="glyphicon glyphicon-tasks"></span>
                            设备描述
                        </div>
                        <div class="card-body">
                            <input class="form-control" placeholder="设备描述或名称" asp-for="Description" autofocus>
                        </div>
                    </div>
                </div>

                @if (Model.AllowRememberConsent)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="RememberConsent">
                            <label class="form-check-label" asp-for="RememberConsent">
                                <strong>记住我的选择</strong>
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button name="button" value="yes" class="btn btn-success btn-block" autofocus>授权访问</button>
                <button name="button" value="no" class="btn btn-secondary btn-block">拒绝授权</button>
                @if (Model.ClientUrl != null)
                {
                    <hr />
                    <a class="btn btn-link" href="@Model.ClientUrl">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                }
            </div>
        </div>
    </form>
</div>
