@model ConsentViewModel
<div class="ui grid container">
    <div class="row">
            <div class="column">
                <div class="ui massive horizontal divided list">
                    <div class="item">
                        @if (Model.ClientLogoUrl != null)
                    {
                        <img class="ui tiny bordered image" src="@Model.ClientLogoUrl">}
                    <div class="content">
                        <div class="header">@Model.ClientName 
                        @if (Model.ClientUrl != null)
                        {
                            <a class="ui icon pull-right"  target="_blank" href="@Model.ClientUrl">
                                <i class="external icon"></i>
                            </a>
                        }</div>
                        <small>is requesting your permission</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="col-sm-8">
            @Html.Partial("_ValidationSummary")
            <form asp-action="Index" class="consent-form">
                <input type="hidden" asp-for="ReturnUrl" />

                <div>Uncheck the permissions you do not wish to grant.</div>
                
                @if (Model.IdentityScopes.Any())
                {
                    <div class="panel panel-default consent-buttons">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-user"></span>
                            Personal Information
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.IdentityScopes)
                            {
                                @Html.Partial("_ScopeListItem", scope)
                            }
                        </ul>
                    </div>
                }

                @if (Model.ResourceScopes.Any())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-tasks"></span>
                            Application Access
                        </div>
                        <ul class="ul list">
                            @foreach (var scope in Model.ResourceScopes)
                            {
                                @Html.Partial("_ScopeListItem", scope)
                            }
                        </ul>
                    </div>
                }

                @if (Model.AllowRememberConsent)
                {
                    <p>
                        <div class="ui checkbox">
                            <input asp-for="RememberConsent" />
                            <label><b>Remember My Decision</b></label>
                        </div>
                    </p>
                }

                <div class="consent-buttons">
                    <button name="button" value="yes" class="ui primary button" autofocus>Yes, Allow</button>
                    <button name="button" value="no" class="ui button">No, Do Not Allow</button>
                </div>
            </form>
        </div>
</div>