@{
    TenantPrivateModel tenant = null;

    if(ViewBag.pvtTenant == null)
    {
        tenant =  ViewBag.pvtTenant = new TenantPrivateModel()
        {
            Id = 1,
            Name = ""
        };
    }
    else
    {
        tenant = ViewBag.pvtTenant;
    }
}
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@tenant.Keywords" />
    <meta name="description" content="@tenant.Summary" />
    <title>@Html.Raw(tenant.Name) - @Localizer["授权中心"]</title>
    <environment names="Development">
        <link href="/dist/vendor.min.css" rel="stylesheet" />
        <link href="/dist/app.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="/dist/app.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu" style="width:100%;">
                <a class="active item" asp-controller="Home" asp-action="Index"> @Html.Raw(tenant.Name)</a>
                <div class="right menu">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <environment names="Development">
        <script src="/dist/vendor.min.js"></script>
        <script src="/dist/app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/app.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
