@{
    TenantPrivateModel tenant = null;

    if(ViewBag.pvtTenant == null)
    {
        tenant =  ViewBag.pvtTenant = new TenantPrivateModel()
        {
            Id = 1,
            Name = ""
        };
    }
    else
    {
        tenant = ViewBag.pvtTenant;
    }
}
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@tenant.Properties[TenantDefaultProperty.Keywords]" />
    <meta name="description" content="@tenant.Properties[TenantDefaultProperty.Summary]" />
    <title>@Html.Raw(tenant.Name) - @Localizer["授权中心"]</title>
    <meta name="keywords" content="@tenant.Properties["Favicon"]" />
    <environment names="Development">
        <link href="/dist/vendor.min.css" rel="stylesheet" />
        <link href="/dist/app.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="/dist/app.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="@tenant.Properties["Favicon"]" width="32px" /> 
                    @Html.Raw(tenant.Name)
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                        @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <environment names="Development">
        <script src="/dist/vendor.min.js"></script>
        <script src="/dist/app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/app.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
