@model ChangePasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Change Password";
}
<style>
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>
<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col">
            <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                <h4>@ViewData["Title"]</h4>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-label-group">
                    <input type="password" name="OldPassword" id="OldPassword" class="form-control" placeholder="@Localizer["OldPassword"]" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="password" name="NewPassword" id="NewPassword" class="form-control" placeholder="@Localizer["NewPassword"]" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-label-group">
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="@Localizer["ConfirmPassword"]" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["提交"]</button>

            </form>
        </div>
    </div>
</div>